@import url(./fonts.css);

body {
  margin: 0;
  font-family: "Space Grotesk Regular";
  background: #e8e8e8;
}



.navBar1 {
 
  justify-content: center;
  text-align: center;
  margin: 1%;
  font-family: "Space Grotesk Bold";
  font-size: 2rem;
}

.navBar1 a{
  text-decoration: none;
  color: black;
}


.navBar1 a:hover{
  text-decoration: none;
  color: #592e8b;
}


.navBar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
  font-family: "Space Grotesk Bold";
  font-size: 2rem;
}

.navTwoLeft img {
  width: 150px;
  margin: 5%;
}

.navTwoCenter,
.navTwoRight {
  display: flex;
  align-items: center;
}

.navTwoCenter span,
.navTwoRight span {
  margin: 0 10px;
  filter: opacity(0.5);
}
.navTwoCenter span:hover,
.navTwoRight span:hover {
  margin: 0 10px;
  color: #592e8b;
  filter: opacity(1);
  cursor: pointer;
}

.storyArea {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 10px;
  height: 30vh;
  margin: 0 5%;
}

.story {
  flex: 0 0 auto;
  margin-right: 10px;
  position: relative;
  cursor: grab;
  user-select: none;
}
.story:hover {
  filter: brightness(80%);
  transition: 0.5s;
}

.story img {
  max-width: 100%;
  height: 30vh;
  border-radius: 10px;
  object-fit: cover;
}

.profilePicture {
  position: absolute;
  bottom: 5px;
  left: 5px;
  height: 50px !important;
  width: 50px !important;
  outline: 2px solid #592e8b;
  overflow: hidden;
  border-radius: 50% !important;
}

.profilePicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 50% !important;
}

#leftButton,
#rightButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #2a2a2a; /* Change the color as needed */
  color: #fff; /* Change the text color as needed */
  cursor: pointer;
}

#leftButton:hover,
#rightButton:hover {
  background-color: #592e8b;
  transition: 0.5s;
}

#leftButton,
#rightButton {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  border: none;
}

button {
  margin-left: 25px;
  margin-right: 25px;
}

#rightButton {
  right: 0;
}
#leftButton {
  left: 0;
}
.postToFeed {
  margin: 1% auto auto auto;
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 10px;
  width: 500px;
  min-width: 100px;
  overflow: hidden;
}

.writePost {
  flex: 1;
  display: flex;
}

.writePost input[type="text"] {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 15px;
  outline: none;
  font-size: 1rem;
  font-family: "Space Grotesk Regular";
}

.addPicture {
  margin-right: 10px;
  cursor: pointer;
  color: #592e8b;
}

.addPicture i {
  font-size: 1.5rem;
}

.addPicture::before {
  font-size: 2rem;
  display: inline-block;
  margin-right: 5px;
}

.submitButton {
  cursor: pointer;
}

.submitButton::before {
  content: "\02190";
  font-size: 20px;
  display: inline-block;
}

.fa-circle-plus::before {
  content: "\F055";
  font-size: 30px;
  display: inline-block;
  margin-right: 5px;
}
.fa-circle-plus:hover {
  color: #884ccc;
  transition: 0.5s;
}

.fileInput {
  display: none;
}

.submitButton {
  cursor: pointer;
}

.thumbnail {
  max-width: 50px;
  max-height: 50px;
  margin-right: 5px;
}

.vertFeedWrapper {
  display: flex;
  max-width: 90vw;
  margin: 0 auto;
  padding: 20px;
}

.vertNav {
  flex: 1;
  padding: 20px;
  color: #2a2a2a;
  font-family: "Space Grotesk Semibold";
  list-style-type: lower-roman;
}
.vertNav li:hover {
  color: #592e8b;
  cursor: pointer;
}
.vertNav ul {
  list-style-type: none;
  float: right;
}

.feedArea {
  flex: 2;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
}

.chatArea {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 50vh;
  overflow-y: auto;
}

.chatLogo {
  display: flex;
  justify-content: center;
}

#chatLogo {
  height: 30px;
}

.feedArea {
  flex: 2;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
}

.post {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.userImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ddd;
  margin-right: 10px;
}
.userImage img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ddd;
  margin-right: 10px;
  object-fit: cover;
}

.postContent {
  flex: 1;
}

.postText {
  margin-bottom: 10px;
}

.postImage {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 10px;
}
.postContent img {
  height: 100%;
  width: 100%;
}
#hamburgerIcon {
  display: none;
}

.user-profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

input[type="submit" i] {
  font-family: "Space Grotesk Bold";
  appearance: auto;
  user-select: none;
  text-wrap: nowrap;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  background-color: #592e8b;
  color: white;
  border-radius: 50px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  border: 2px solid #592e8b;
}
input[type="submit" i]:hover {
  font-family: "Space Grotesk Bold";
  appearance: auto;
  user-select: none;
  text-wrap: nowrap;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  background-color: white;
  color: #592e8b;
  border-radius: 50px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  border: 2px solid #592e8b;
}

.popup button {
  font-family: "Space Grotesk Bold";
  appearance: auto;
  user-select: none;
  text-wrap: nowrap;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  background-color: white;
  color: #592e8b;
  border-radius: 50px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  border: 2px solid #592e8b;
  font-size: 24px;
}
.popup button:hover {
  font-family: "Space Grotesk Bold";
  appearance: auto;
  user-select: none;
  text-wrap: nowrap;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  background-color: red;
  color: white;
  border-radius: 50px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  border: 2px solid #592e8b;
}


.postHeader {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  color: #888;
}

.postDate {
  display: flex;
  font-size: 10px;
  float: right;
  margin-top: -10%;
}

.postButtons {
  display: flex;
  font-size: 30px;
}

.fa-heart {
  color: #592e8b;
  padding-right: 5px;
  cursor: pointer;
}




.fa-comment {
  color: #592e8b;
  padding-right: 5px;
}

.fa-paper-plane {
  color: #592e8b;
}

.commentInput {
  width: 80%;
  border-radius: 50px;
  border: rgba(89, 46, 139, 0.5);
  padding: 2.5%;
  font-family: "Space Grotesk Regular";
  transition: 0.8s;
  background: rgba(89, 46, 139, 0.15);
}
.commentInput:focus {
  width: 85%;
  border: #592e8b;
  border-radius: 0px;
  padding: 2.5%;
  font-family: "Space Grotesk Regular";
  transition: 0.8s;
  background: #592e8b;
  color: white;
  -webkit-appearance: none;
}

.comment {
  display: flex;
  align-items: center;
  margin-top: 1px;
  padding: 1%;
  border-bottom: 1px solid #ccc;
}

.comment .userImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.comment .userImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.commentButton {
  -webkit-appearance: none;
  font-size: 30px;
  outline: none;
  cursor: pointer;
  padding: 0%;
  margin: 1%;
  border: none;
}

.commentUserName {
  padding: 1%;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.profile-picture {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: fill;
  margin-right: 10px;
}

.username {
  margin: 0;
  width: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #884ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #592e8b;
}


/* LANGUAGE DROPDOWN */
.goog-te-banner-frame {display:none;} 
#goog-gt-tt {display:none!important;visibility:hidden!important;}


.goog-te-gadget {
  font-family: Roboto, 'Open Sans', sans-serif!important;
  text-transform: uppercase;
}
.goog-te-gadget-simple  {
  background-color: rgba(255,255,255,0.20)!important;
  border: 1px solid #592e8b !important;
  padding: 8px!important;
  border-radius: 4px!important;
  font-size: 1rem!important;
  line-height:2rem!important;
  display: inline-block;
  cursor: pointer;
  zoom: 1;
  
}
.goog-te-menu2 {
  max-width: 100%;
}
.goog-te-menu-value {

    content: "\E927";
    margin-right: 16px;
    font-size: 2rem;
    vertical-align: -10px;
    width:32px!important;
  } 

.goog-te-menu-value span:nth-child(5) {
  display:none;
}
.goog-te-menu-value span:nth-child(3) {
  border:none!important;
  font-family: 'Material Icons';
  &:after {
    font-family: 'Material Icons';
    content: "\E5C5";
    font-size: 1.5rem;
    vertical-align: -6px;
  }  
}

.goog-te-gadget-icon {
    background-position: 0px 0px;
    height: 32px!important;
    width: 32px!important;
    margin-right: 8px!important;
    display: none;
}

.goog-te-banner-frame.skiptranslate {display: none!important;} 
body {top: 0px!important;}

/* ================================== *\
    Mediaqueries
\* ================================== */
@media (max-width: 667px) {
	#google_translate_element {
		bottom: calc(100% - 50% - 53px);
		left: 16px!important;
		width: 100%!important;
		goog-te-gadget {
			width:100%!important;
		}
		.skiptranslate {
			width:100%!important;			
		}
		.goog-te-gadget-simple {
			width: calc(100% - 32px)!important;
			text-align: center;
		}	
	}
}



